@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    --Font-family: 'League Spartan', sans-serif;
    --Font-size: 15px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Font-family);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top,bottom;
    background-color: var(--White);
}

.social-proof-container{
    width: 85%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.social-proof-text-wrapper{
    text-align: center;
    margin-bottom: 3rem;
}

.social-proof-text{
    margin-bottom: 2rem;
}

.social-proof-text h1{
    margin-bottom: 1.5rem;
    line-height: 0.8;
    font-size: 2.5rem;
    color: var(--Very-Dark-Magenta);
}

.social-proof-text p{
    font-weight: 500;
    font-size: 1.05rem;
    color: var( --Dark-Grayish-Magenta);
}

.rated-text-subgroup{
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    background-color: var(--Light-Grayish-Magenta);
}

.rated-text-subgroup h2{
    color: var(--Very-Dark-Magenta);
    margin-top: 0.3rem;
    font-size: var(--Font-size);
}

.opinions-subgroup{
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: var(--Very-Dark-Magenta);
}

.opinions-subgroup-img{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-bottom: 1rem;
}

.opinions-subgroup-img img{
    width: 40px;
    border-radius: 50%;
}

.opinions-subgroup-img-text h3{
    font-size: var(--Font-size);
    color: var(--White);
}

.opinions-subgroup-img-text p{
    font-size: var(--Font-size);
    color: var(--Soft-Pink);
}

.opinions-subgroup-text p{
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 400;
    color: var(--White);
}


@media screen and (min-width:1440px) {
    body{
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-position: top left, right bottom;
    }

    .social-proof-container{
        max-width: 75%;
        margin: 0rem;
    }

    .social-proof-text-wrapper{
        display: flex;
        text-align: left;
        margin-bottom: 3rem;
    }
    .social-proof-text{
        flex: 1;

    }

    .social-proof-text h1{
        padding-right: 10rem;
        font-size: 4rem;
    }

    .social-proof-text p{
        line-height: 1.4;
        padding-right: 8rem;
        font-size: 1.5rem;
    }

    .social-proof-rated-text{
        flex: 1;
    }

    .social-proof-opinions{
        display: flex;

    }

    .opinions-subgroup{
        position: relative;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    .rated-text-subgroup{
        display: flex;
        align-items: center;
        position: relative;
        max-width: 30rem;
        padding: 1rem 2rem;
        gap: 0.5rem;
    }

    .rated-text-subgroup h2{
        font-size: 1.2rem;
    }

    .t-subgroup-2{
        left: 2.5rem;
    }

    .t-subgroup-3{
        left: 5rem;
    }


    .rated-text-subgroup h2{
        margin-left: 1.5rem;
    }

    .subgroup-2{
        top: 1.2rem;
    }

    .subgroup-3{
        top: 2.3rem;
    }

    .opinions-subgroup-text p{
        font-size: 1.43rem;
    }

    .opinions-subgroup-img-text h3{
        font-size: 1.1rem;
    }

    .opinions-subgroup-img-text p{
        font-size: 1.1rem;
    }

}
